@model MovieProject.Models.Movie


<h2>Edit</h2>

<div ng-controller="editcontroller">
    <form name="createForm" novalidate role="form">
        <div class="form-group">
            <label for="Title">Title </label>
            <span class="label label-danger" ng-show="submitted && createForm.Title.$error.required">Required!</span>
            <input type="text" name="Title" ng-model="movie.Title" placeholder={{movie.Title}} class="form-control" required />
        </div>

        <div class="form-group">
            <label for="ReleaseDate">Release Date</label>
            <span class="label label-danger" ng-show="submitted && createForm.ReleaseDate.$error.required">Required!</span>
            <input type="text" name="ReleaseDate" ng-model="movie.ReleaseDate" class="form-control" required />
        </div>

        <div class="form-group">
            <label for="Genre">Genre</label>
            <span class="label label-danger" ng-show="submitted && createForm.Genre.$error.required">Required!</span>
            <input type="text" name="Genre" ng-model="movie.Genre" class="form-control" required />
        </div>

        <div class="form-group">
            <label for="Price">Price</label>
            <span class="label label-danger" ng-show="submitted && createForm.Price.$error.required">Required!</span>
            <input type="text" name="Price" ng-model="movie.Price" class="form-control" required />
        </div>

        <div class="form-group">
            <label for="Rating">Rating</label>
            <span class="label label-danger" ng-show="submitted && createForm.Rating.$error.required">Required!</span>
            <input type="text" name="Rating" ng-model="movie.Rating" class="form-control" required />
        </div>
    </form>


    <div>
        <button data-ng-disabled="progress.active()" ng-click="onSubmit(editedMovie)" class="btn btn-default">Submit</button>
    </div>
</div>   


<div>
    <a ng-href="/Movies/Index/">Back to Movie List</a>
</div>
